<h1>New Alumni</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="." method="post">
    {% csrf_token %}
    <label for="name_input">Name</label>
    <input type="text" name="name" id="name_input" /><br>

    <label for="address_street">Street Address</label>
    <input type="text" name="address_street" id="address_street" /><br>

    <label for="address_city">City</label>
    <input type="text" name="address_city" id="address_city" /><br>

    <label for="address_state">State</label>
    <input type="text" name="address_state" id="address_state" /><br>



    <input type="submit" value="Submit" />
</form>